<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>allowPseudoUnicode</key>
				<true/>
				<key>ascending</key>
				<true/>
				<key>type</key>
				<string>alphabetical</string>
			</dict>
			<dict>
				<key>allowPseudoUnicode</key>
				<true/>
				<key>ascending</key>
				<true/>
				<key>type</key>
				<string>category</string>
			</dict>
			<dict>
				<key>allowPseudoUnicode</key>
				<true/>
				<key>ascending</key>
				<true/>
				<key>type</key>
				<string>unicode</string>
			</dict>
			<dict>
				<key>allowPseudoUnicode</key>
				<true/>
				<key>ascending</key>
				<true/>
				<key>type</key>
				<string>script</string>
			</dict>
			<dict>
				<key>allowPseudoUnicode</key>
				<true/>
				<key>ascending</key>
				<true/>
				<key>type</key>
				<string>suffix</string>
			</dict>
			<dict>
				<key>allowPseudoUnicode</key>
				<true/>
				<key>ascending</key>
				<true/>
				<key>type</key>
				<string>decompositionBase</string>
			</dict>
		</array>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.smartSets.uniqueKey</key>
		<string>6734274000</string>
		<key>public.glyphOrder</key>
		<array>
			<string>narrow</string>
			<string>glyphFour</string>
			<string>glyphOne</string>
			<string>glyphTwo</string>
			<string>wide</string>
			<string>glyphThree</string>
			<string>glyphFive</string>
			<string>narrow.component</string>
			<string>wide.component</string>
			<string>broken_component</string>
			<string>glyph_with_many_contours</string>
			<string>extra.glyph.for.master2</string>
		</array>
		<key>ufoProcessor.test.lib.entry</key>
		<string>Lib entry for master 2</string>
	</dict>
</plist>
