<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>broken_component</key>
		<string>broken_component.glif</string>
		<key>extra.glyph.for.neutral</key>
		<string>extra.glyph.for.neutral.glif</string>
		<key>glyphFive</key>
		<string>glyphF_ive.glif</string>
		<key>glyphFour</key>
		<string>glyphF_our.glif</string>
		<key>glyphOne</key>
		<string>glyphO_ne.glif</string>
		<key>glyphThree</key>
		<string>glyphT_hree.glif</string>
		<key>glyphTwo</key>
		<string>glyphT_wo.glif</string>
		<key>glyph_with_many_contours</key>
		<string>glyph_with_many_contours.glif</string>
		<key>narrow</key>
		<string>narrow.glif</string>
		<key>narrow.component</key>
		<string>narrow.component.glif</string>
		<key>offCurveCompatibilityTest</key>
		<string>offC_urveC_ompatibilityT_est.glif</string>
		<key>wide</key>
		<string>wide.glif</string>
		<key>wide.component</key>
		<string>wide.component.glif</string>
	</dict>
</plist>
